.container {
    width: inherit;
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.col-full {
    width: 100%;
}

@media screen and (min-width: 1px) {
    .col-8 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-1 {
        width: 100%;
    }
    .row {
        flex-direction: column;
        align-content: center;
    }
}
@media screen and (min-width: 960px) {
    .col-8 {
        width: 66.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-3 {
        width: 25%;
    }
    .col-1 {
        width: 8.33%;
    }
    .row {
        flex-direction: row;
    }
}
